:root {
	background-color: rgb(147, 172, 137);
}

* {
	box-sizing: border-box;
	font-family: didot;
	margin: 1;
	padding: 0;
	color: black;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
	font-size: 2rem;
	color: black;
	margin-bottom: 0rem;
}
  
h1 > span {
	font-size: 2.4rem;
	font-weight: 500;
}

h2 {
	font-size: 4.2rem;
	margin-bottom: 4rem;
	font-weight: 700;
}
  
  h3 {
	font-size: 2.8rem;
	font-weight: 500;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
  
.flex-center {
	justify-content: center;
	align-items: center;
}

.text {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
  	margin: 0 auto;
}
.photo {
	margin: 0 auto;
	width: 35vw;
}

.image {
	margin: 1rem 0;
	width: 100%;
}

.choice-container {
	display: flex;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: 1.3rem;
	border: 0.1rem currentColor rgb(27, 31, 27);
	background-color: beige;
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 black;
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.choice-prefix {
	padding: 1rem 1.3rem;
	background-color: rgb(27, 31, 27);
	color: white;
}

.choice-text {
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding: 2rem;
	width: 100%;
}


.choice-button {
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding: 1rem 3rem;
	font-size: 1.5rem;
	border: 0.15rem solid black;
	background-color: white;
	color: black;
}

.play {
	width: 10vw;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
  	margin: 0 auto;
}
